{% extends 'partials/_base.html' %}
{% load static %}
{% block title %} {{ data.title|title }} {% endblock %}

{% block content %} 
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><a href="#" class="text-decoration-none text-dark lead">{{ data.teachers.TeacherName|title }}</a> : {{ data.name|title }}
                    <span class="float-end font-weight-light" style="font-style: italic;">{{ data.date }} <i class="fa-solid fa-calendar-days ms-2 text-secondary"></i></span>
                </div>
                <div class="card-body">
                <p class="card-text">
                    {{ data.description }}
                </p>
                
                </div>
              <div class="row m-2">
                <div class="col">
                  <h5>Eğitim İçeriği</h5>
                </div>
                <div class="col">
                  {% if user.is_authenticated %}
                    {% if isEnroll %}
                    <button type="button" class="btn btn-outline-danger rounded-1 float-end" data-bs-toggle="modal" data-bs-target="#releaseModel">
                      {{data.name}}  Kursu Bırak 
                    </button>
                    <div class="modal fade" id="releaseModel" tabindex="-1" aria-labelledby="releaseModelCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="releaseModelCenterTitle">Kurs Bırak</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <span style="font-weight:bold;">{{ data.name|title }}</span> Kursunu bırakacaksınız. Emin misiniz ?
                          </div>
                          <div class="modal-footer">
                              <form action="{% url 'releaseTheCourse' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="courseId" value="{{ data.id }}">
                                <button type="submit" class="btn btn-outline-success rounded-1">Evet,Eminim</button>
                              </form>
                              <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal">İptal</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <button type="button" class="btn btn-outline-success rounded-1 float-end" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                      {{data.name}}  Kayıt Ol
                    </button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Kurs Kayıt</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <span style="font-weight:bold;">{{ data.name|title }}</span> Kursuna kayıt olacaksınız. Emin misiniz ?
                          </div>
                          <div class="modal-footer">
                              <form action="{% url 'enrolTheCourse' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="courseId" value="{{ data.id }}">
                                <button type="submit" class="btn btn-outline-success rounded-1">Evet,Eminim</button>
                              </form>
                              <button type="button" class="btn btn-danger px-4" data-bs-dismiss="modal">İptal</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for item in all_data %}
                  <div class="accordion-item">
                    <h2 class="accordion-header " id="panelsStayOpen-headingOne">
                      <button class="accordion-button text-success" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        {{ item.title|title }}
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                      <div class="accordion-body">
                        {% if isEnroll %}
                          {{ item.description|safe }}
                        {% else %}
                        <div class="alert alert-warning">İçeriği görüntülemek için kayıt olmalısınız.</div>  
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}