{% extends 'partials/_base.html' %}

{% block title %} Giriş Yap / Üye Ol
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="offset-xl-3 col-xl-6 col-md-12 col-sm-12">
  
                <!-- Pills content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                    <form>
                        <div class="text-center mb-3">
                        <p class="fs-1">Giriş Yap</p>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                        <label class="form-label" for="loginPassword"><i class="fa-solid fa-user me-2"></i> Kullanıcı Adı</label>
                        <input type="email" id="loginName" class="form-control" />
                        </div>
                
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                        <label class="form-label" for="loginPassword"><i class="fa-solid fa-lock me-2"></i>Parola</label>
                            <input type="password" id="loginPassword" class="form-control" />
                        </div>
                
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-success d-block mb-4 col-4 ">Giriş Yap</button>
                
                        <!-- Register buttons -->
                        <div class="text-center">
                        <p class="mb-5">Üye değil misiniz ?<span class="me-4"></span><a href="{% url 'register' %}">Üye Ol</a></p>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}