{% extends 'partials/_base.html' %}

{% block title %} Giriş Yap / Üye Ol
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="offset-xl-3 col-xl-6 col-md-12 col-sm-12">
  
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form>
        <div class="text-center mb-3">
          <p class="fs-1">Giriş Yap</p>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Kullanıcı Adı</label>
          <input type="email" id="loginName" class="form-control" />
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="loginPassword">Parola</label>
            <input type="password" id="loginPassword" class="form-control" />
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-success d-block mb-4 col-4 ">Giriş Yap</button>
  
        <!-- Register buttons -->
        <div class="text-center">
          <p class="mb-5">Üye değil misiniz ?<a href="#!">Üye Ol</a></p>
        </div>
      </form>
    </div>
    <!-- Register -->
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form>
        <div class="text-center mb-3">
          <p>Sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
  
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
  
        <p class="text-center">or:</p>
  
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerName" class="form-control" />
          <label class="form-label" for="registerName">Name</label>
        </div>
  
        <!-- Username input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerUsername" class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="registerEmail" class="form-control" />
          <label class="form-label" for="registerEmail">Email</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>
  
        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
            aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            I have read and agree to the terms
          </label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
      </form>
    </div>
  </div>
  <!-- Pills content -->
            </div>
        </div>
    </div>
{% endblock %}