{% extends 'partials/_base.html' %}

{% load static %}

{% block title %} Çıkış Yap {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 70vh;">
      <div class="col-md-6">
        <div class="card p-3">
          <div class="card-body text-center">
            <h1 class="display-5 text-danger">Oturumunuz Sonlandırıldı</h1>
            <p class="lead">Bugün web sitesine ayırdığınız kaliteli zaman için teşekkür ederiz.</p>
            <!-- <a class="text-danger text-decoration-none" href="{% url 'home' %}">Anasayfa'ya dön</a> -->
          </div>
           <span class="mx-5 lead fs-6"><span id="timer-text">3</span> sn sonra <a class="text-danger text-decoration-none" href="{% url 'login' %}">Giriş Yap</a> sayfasına yönlendirileceksiniz.</span>
        </div>
      </div>
    </div>
  </div>
  <script>
    var timer = document.getElementById('timer-text');
    var count = 3;

    var countdown = setInterval(function() {
        count--;
        timer.innerHTML = count;

        if (count === 0) {
            clearInterval(countdown);
            window.location.href = "/accounts/login";
        }
    }, 1000);
</script>
{% endblock %}