{% extends 'partials/_base.html' %}

{% block title %} Üye Ol {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="offset-xl-3 col-xl-6 col-md-12 col-sm-12">
            
            <form method="post">
                {% csrf_token %}
                <div class="text-center mb-3">
                    <p class="fs-1">Üye Ol</p>
                    </div>
                    {% if form.errors  %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismisible">
                                    <button class="close" data-dismiss="alert">&times;</button>
                                    <strong>{{ error }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                <div class="row mt-3">
                    <div class="col">
                        {{ form.first_name }}
                    </div>

                    <div class="col">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        {{ form.user_name }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        {{ form.email }}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        {{ form.password1 }}
                    </div>
                    <div class="col">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-success d-block mb-4 col-6 mx-auto ">Üye Ol</button>
                    </div>
                </div>
                <div class="text-center">
                    <p class="mb-5">Hesabınız var mı ?<span class="me-4"></span><a href="{% url 'login' %}">Giriş Yap</a></p>
                    </div>
            </form> 
            
        </div>
    </div>
</div>

{% endblock %}


